body,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.container {
  padding: 0 1rem;
  max-width: 24rem;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  padding-top: 1rem;
}
